/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.popup-simple-row-label {
   font-size: 16px;
   font-weight: bold;
}

.popup-simple-row-value {
  font-size: 16px;
  font-weight: bold;
  color: darkgrey;
}

.popup-header {
  font-weight: bold;
  font-size: 22px;
}

footer.ul {
  display: inline;
  float: right;
  font-size: 22px;
}

footer.ul.li {
  display: block;
  font-size: 35px;
}
