<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="assets/truck.svg" alt="logo">
        <h1>Truckpark</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Przegląd" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Dane Ogolne</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mops11">Kierowcy</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mops11">Samochody</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Mapy" nzIcon="global">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/map-preview">Podgląd</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Statystyki" nzIcon="area-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mops2">Mapa</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mops3">Wykresy</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Edytuj dane" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mops4">Dodaj kierowcę</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mops5">Dodaj samochód</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
